body{
    line-height: 1.6;
    font-family: "Lato", sans-serif;
    margin: 0;
}
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 250%;

}

p {
    background-color: #EBB8DD;}

.wrapper {
    width: 100vw;
}

.flex{
    display: flex;
    align-content: center;
}

.container {
    display: grid;
    align-content: center;
    width: 100%;
    height: 100%;
    grid-template-areas:  
        "about menu"
        "image text";
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}
.container > div.about-header {
    grid-area: about;
}

.container > div.about-menu {
    grid-area: menu;
}
.container > div.about-text {
    grid-area: text;
}
.container > div.about-portrait {
    grid-area: image;
    width: 90%;
    height: 90%;
}
.about-portrait img {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
}


.header {
    display: flex;
    flex-direction: row;
    padding-right: 1px;
    width: 100vw;
    border: pink dotted;
}

.menu {
    display: flex;
    margin-left: auto;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.home-menu {
    display: flex;
    flex-direction: row;
}

.menu-link {
    padding: 0.4rem;
}

.home-logo {
    width: 50vw;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.column {
    flex: 30%;
    max-width: 30%;
    padding: 0 8px;
}

.gallery-image {
    width: 30vw;
}

.gallery-image img {
    margin: top 8px;
    width: 100%;
}


.row2 {
    display: flex;
}

.column2 {
    flex:30vw;
    padding: 5px;
}
.comics-cover {
    width: 100%;
}

.comics-cover img {
    margin: top 8px;
    width: 100%;

}

.header {
    position: fixed;
    top: 0;
    background-color: white;
}

.menu {
    padding-top: 16px;
}

.main-image {
    padding-top: 20px;
}

.sketchcontainer {
    padding-top: 82px;
}

.comicbodycontainer {
    padding-top: 82px;
}

.menu-link {
    text-decoration: none;
    color: black;
}

.img {
    opacity: 1;
    transition: .5s ease;
}

.comicscoverimage:hover {
    opacity: 0.3;
    transition: .5s ease;
}

.Snakebite-pages{
    padding-top: 85px;
}

.TBTO-pages {
    padding-top: 82px;
}

.study-pages {
    padding-top: 82px;
}

.computer-pages {
    padding-top: 82px;
}